div.krampus-float-right {
  margin-left: 0.5em;
  float: right;
  width: 50%;
  border: 1px solid black;
  padding: 1em;
  background-color: rgb(220 220 220);
}

figure.adventure-banner > img[title="The Longnight Before Krampus"] {
    object-fit: contain !important;
}